@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

.navbar-nav a {
  font-family: "Montserrat";
}

.overview,
.bs-cpe,
.specializations {
  font-family: "Montserrat", sans-serif;
}

.card img {
  height: 100%;
  width: 100%;
  padding: 30px;
}

.overview,
.what-we-do,
.org {
  background-color: #2f2e41;
}
.what-we-do .card img {
  filter: brightness(0.3);
  padding: 0;
}

.what-we-do .card-body {
  padding: 0;
}

.specializations .card img {
  height: 300px;
}

.org a {
  background-color: #003366;
}

.carousel-inner {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
