@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

h1,
h2,
h3 {
  font-family: "PlayfairDisplay", serif;
}

h3 {
  font-weight: 500;
}

.navbar-nav a {
  font-family: "Montserrat", sans-serif;
}

.overview,
.bs-cpe,
.specializations {
  font-family: "Montserrat", sans-serif;
}

.card img {
  height: 100%;
  width: 100%;
  padding: 30px;
}

.overview,
.what-we-do,
.org {
  background-color: #2f2e41;
}
.what-we-do .card img {
  filter: brightness(0.3);
  padding: 0;
}

.what-we-do .card-body {
  padding: 0;
}

.bs-cpe .card-body {
  padding: 5%;
}

.bs-cpe .card,
.specializations .card {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.specializations .card img {
  height: 300px;
}

.carousel-inner,
.what-we-do .card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
